* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first: rgba(5, 0, 0, 0.966);
    --second: rgb(162, 202, 247);
    --third: rgb(27, 27, 27);
}

body {
    margin: 0;
    padding: 0;
    font-family:Garamond,serif;
    position: relative;
    line-height: 1;
    font-size: 15px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    background-color: var(--third);
}

header h1 {
    color:  var(--third);
    background-color: var(--second);
    padding: 30px;
    font-size: 45px;
    border-radius: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--second);
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

/* Hero info */
.banner {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: 70%;
    width: 180%;
    height: 250%;
    margin-bottom: 0px;
    background-position:cover;
    background-color: var(--second);
}

.hero-text {
    float: center;
    border: var(--second);
    background-color: var(--second);
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
   /* Main section */
main { 
     max-width: 100%;
     margin-left: auto; 
     margin-right: auto; 
     margin-top: 30px; 
     margin-bottom: 30px; 
 } 

 main section { 
    display: flex; 
    flex-flow: row wrap; 
    align-items: stretch; 
    margin: 2% auto; 
} 

Main h2 {
    margin: left;
    flex: 0 0 20%;
    border-right: 4px solid var(--first);
    margin-right: 30px;
    padding-right: 5px;
    text-align: right;
    font-size: 40px; 
}
img {
    border-radius: 8px;
    
    box-shadow: 10px 10px 5px grey;
}
#about div {
    flex: 0 0 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
}

.work-grid {
    flex: 0 0 75%;
    display: grid;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    row-gap: 20px;
    column-gap: 20px;
}

.work-item {
    color: var(--first);
    background-size: 100%;
    border: 5px solid var(--second);
    transition: all 0.2s ease-in;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    grid-column: span 4;
    border-radius: 8px;
    box-shadow: 10px 10px 5px grey;
}
.work-item:first-child {
    grid-column: span 10;
    grid-row: span 2;
}

.work-item div {
    margin: 10px 0;
    color: var(--third);
    background-color: var(--second);
    padding: 8px 10px;
}
/* Insert project 1 */
.easystack {
    background-image: url("../images/easy_stack2.JPG");
    background-repeat: no-repeat;
    opacity: 1;
}

.easystack:hover {
    opacity: 1;
}
/* insert refactor */
.refactor {
    background-image: url("../images/refactor.JPG");
    background-repeat: no-repeat;
    opacity: 3;
}
.refactor:hover {
    opacity: 1;
}

.workday {
    background-image: url("../images/work_day_shedu.JPG");
    background-repeat: no-repeat;
    opacity: 0.8;
}
.workday:hover {
    opacity: 1;
}
h3 {
    color: black;
    font-size: x-large;
    font-weight: bolder;
}

footer {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

footer h2 {
    margin-left: 2;
    flex: 0 0 20%;
    border-right: 4px solid var(--first);
    margin-right: 10px;
    padding-right: 5px;
    text-align: right;
    font-size: 20px;
}
address a {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--third);
    background-image: linear-gradient(270deg, var(--third) 0%, var(--third) 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    transition: all 0.4s ease-in-out;
}

address a:hover {
    background-size: 100% 100%;
    color: var(--first);
}
/* Desktop viewing */
@media screen and (min-width:960px) {

    header {
        padding: 15px 6% 15px 0;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    header h1 {
        padding: 5px 1% 5px 5%;
        width: 30%;
        font-size: 3vw;
        line-height: 1;
        
    }
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav a {
        font-size: 2vw;
    }
    nav a:last-child {
        margin-right: 0;
    }
    /* mobile */
@media (max-width: 700px) {
     .row, .navbar {   
      flex-direction: column;
    }
}

}