* {
    box-sizing: border-box;
}

:root {
    --first: rgba(68, 88, 119, 1);
    --second: rgba(146, 204, 206, 1);
    --third: rgba(49, 52, 61, 1);
}
h1 {
    margin: 2;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: var(--third);
}

header h1 {
    color:  var(--third);
    background-color: var(--second);
    padding: 5px;
    font-size: 4vw;
}

.hero-image {
    background-color: var(--second);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--second);
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);

}

h2 {
    color: var(--first);
    background-color: var(--second);
    padding: 5px;
    font-size: 3vw;
    background-position: center;
}

.main-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main-section {
    margin: 25px 0;
    padding: 10px 15px 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.main-section > h2 {
    flex: 0 0 100%;
    border-right: none;
    border-bottom: 4px solid var(--second);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
}
.main-section > div {
    flex: 0 0 100%;
}

.main-section > p {
    margin-bottom: 20px;
    color: black;
}

.grid-box {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(150px,2fr);
    grid-auto-rows: minmax(150px,1fr);
}
.grid-item {
    border: 6px solid var(--second);
    grid-column: 1 / 1;
    background-color: var(--first);
    color: var(--third);
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

h1,h3 {
    border-right: 8px solid var(--third);
}
h4 {
    text-decoration: underline;
    justify-content: space-between;
    text-decoration-color: var(--third);
}
footer {
    text-align: center;
    padding: 3px;
    background-color: var(--second);
    color: white;
  }